*, html, body{
  padding:0;
  margin: 0;
  font-family: "Slack-lato", sans-serif;
  box-sizing: border-box;
}


@font-face {
    font-family: "Slack-lato";
    src: url(https://cdx.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-regular.woff2) format("truetype");
}

@font-face {
  font-family: "Slack";
  src: url(https://cdx.slack-edge.com/a4355/fonts/slack-icons-Regular.woff) format("truetype");
}
